<div class="breadcrumbs-holder clearfix">
	<div class="holder-select">
		<form action="#" class="lang-form">
			<select name="lang-select">
				<option value="lang-1">Выбрать язык</option>
				<option value="lang-1">English</option>
			</select>
		</form>
	</div>
	<ul class="breadcrumbs">
		<li>
			<a href="#">Главная</a>
		</li>
		<li class="cheked">
			<a href="#">Товары</a>
		</li>
		<li class="cheked">
			<a href="#">Продукция Philips</a>
		</li>
		<li>
			<a href="#" class="current">Лампа энергосбережения</a>
		</li>
	</ul>
</div>