<div class="breadcrumbs-holder">
	<ul class="breadcrumbs">
		<li>
			<a href="#">Главная</a>
		</li>
		<li class="cheked">
			<a href="#">Товары</a>
		</li>
		<li class="cheked">
			<a href="#">Продукция Philips</a>
		</li>
		<li>
			<a href="#" class="current">Лампа энергосбережения</a>
		</li>
	</ul>
</div>