<div class="card-holder">
	<div class="card-product clearfix">
		<div class="holder-slider">
			<ul class="slider">
				<li>
					<img src="img/slide-pr-1.jpg" width="" height="" alt="image description">
					<i class="btn-new">Новинка</i>
				</li>
				<li>
					<img src="img/slide-pr-1.jpg" width="" height="" alt="image description">
				</li>
				<li>
					<img src="img/slide-pr-1.jpg" width="" height="" alt="image description">
				</li>
			</ul>
		</div>
		<div class="buy-info">
			<div class="title-product">Лампа энергосберегающая Econ Twister 23W WW E27 220-240V 1PF/6</div>
			<div class="holder-code">
				<span class="code">Код:_<span class="code-product">929689848512</span></span>
				<span class="availability"><i class="avail-icon"></i>Есть в наличие</span>
			</div>
			<div class="two-columns clearfix">
				<div class="order-product">
					<div class="price-holder">
						<span class="price-product">120,000,000<span class="currency"> грн</span></span>
					</div>
					<div class="btn-order-holder">
						<a href="#" class="btn-order"><span></span>Заказать товар</a>
					</div>
					<div class="holder-shipp">
						<div class="call-me-holder">
							<a href="#" class="call-me clearfix">
								<i class="call-me-icon"></i>
								<div class="holder-text">
									<span>Перезвоните мне</span>
								</div>
							</a>
						</div>
						<div class="free-shipping-holder">
							<a href="#" class="free-shipping clearfix">
								<i class="free-shipping-icon"></i>
								<div class="holder-text">
									<span>Бесплатная доставка</span>
								</div>
							</a>
						</div>
					</div>
					<a  href="#" class="circs-holder clearfix">
						<i class="circs-icon"></i>
						<div class="holder-text">
							<span>Условия оплаты и доставки</span>
						</div>
					</a>
					<div class="liked-holder">
						<span>В избранное:</span>
						<a href="#" class="liked-icon"></a>
					</div>
					<div class="share-holder">
						<span class="links">Поделиться:</span>
						<span class="link-holder">
							<a href="#" class="vk-icon"></a>
							<a href="#" class="tw-icon"></a>
							<a href="#" class="fc-icon"></a>
							<a href="#" class="gl-icon"></a>
						</span>
					</div>
				</div>
				<div class="pay-product">
					<div class="row-pay pay-system">
						<div class="title-pay-pr">Товар можно оплатить онлайн:</div>
						<div class="pay-system-holder">
							<a href="#" class="holder-icon">
								<i class="privat-icon"></i>
							</a href="#">
							<a href="#" class="holder-icon">
								<i class="master-icon"></i>
							</a href="#">
							<a href="#" class="holder-icon">
								<i class="visa-icon"></i>
							</a href="#">
						</div>
					</div>
					<div class="row-pay">
						<div class="title-pay-pr">Контактная информация:</div>
						<div class="holder-contact">
							<div class="tel-holder clearfix">
								<i class="tel-icon"></i>
								<div class="holder-text">
									<span class="tel-contact">+380 (50) 396-34-54</span>
								</div>
							</div>
							<div class="adress-holder clearfix">
								<i class="adress-icon"></i>
								<div class="holder-text">
									<span class="adress-shop">Адрес: 75500, Украина, Херсонская обл., Геническ, 40 лет Победы 8а/3 <a href="#" class="location">на карте</a></span>
								</div>
							</div>
						</div>
						<a href="#" class="mail-shop">
							<i class="fa fa-envelope-o"></i>
							<span>Написать нам</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="holder-about-pr">
		<ul class="about-product">
			<li>
				<a href="#">Описание</a>
			</li>
			<li>
				<a href="#">Характеристики</a>
			</li>
			<li>
				<a href="#">Коментарии</a>
			</li>
			<li>
				<a href="#">Подобные товары</a>
			</li>
		</ul>
	</div>
	<a href="#" class="discounts">
		<i class="percent-icon"></i>
		<span>В магазине действует система скидок!</span>
	</a>
</div>