<div class="img-section">
	<div class="img-holder">
		<img class="main-img" src="img/main-image.jpg" width="1920" height="250" alt="image description">
		<strong class="logo-shop">
			<a href="#">
				<img src="img/logo-shop.png" width="121" height="60" alt="logo description">
			</a>
		</strong>
		<div class="shop">Магазин "СВЕТОВИД"</div>
	</div>
</div>