<footer class="footer">
	<div class="container">
		<div class="footer__holder clearfix">
			<div class="brand-holder">
				<a href="#" class="btn-brand">
					<i class="brand-icon"></i>
					<span class="counter-holder">
						<i class="count-top">13</i>
						<i class="count-bottom">12</i>
					</span>
				</a>
			</div>
			<div class="footer__company">
				<div class="company">&copy; 2015 Магазин <span>"Световид"</span></div>
				<div class="created">Сайт создан на платформе</div>
				<ul class="platform">
					<li>
						<a href="#">Zakupka.com</a>
					</li>
					<li>
						<a href="#">Пожаловаться на содержимое</a>
					</li>
					<li>
						<a href="#">Мобильная версия</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>