@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700';

@font-face {
  font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?fn3tw');
	src:  url('../fonts/icomoon.eot?fn3tw#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?fn3tw') format('truetype'),
	url('../fonts/icomoon.woff?fn3tw') format('woff'),
	url('../fonts/icomoon.svg?fn3tw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


