.breadcrumbs-holder {
	background: #fff;
	border-radius: 10px;
	margin: 0 0 20px;
}
.breadcrumbs {
	font-size: 0;
	float: left;
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 17px;
	}
	a {
		padding: 12px 25px;
		display: inline-block;
		color: $font-color;
		position: relative;
		box-sizing: border-box;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -18px;
			border-top: 21.5px solid transparent;
			border-bottom: 21.5px solid transparent;
			border-left: 21.5px solid rgba(230, 230, 230, 1);
			z-index: 1;
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -17px;
			border-top: 21.5px solid transparent;
			border-bottom: 21.5px solid transparent;
			border-left: 21.5px solid #fff;
			z-index: 2;
		}
		&:hover {
			background: rgba(230, 230, 230, .3);
			&:before {
				content: none;
			}
			&:after {
				border-left: 19px solid rgba(230, 230, 230, .3);
			}
		}
	}
	.current {
		color: $color-str;
	}
	.cheked {
		position: relative;
		&:before {
			content: '\f0d7';
			font: 10px/12px 'FontAwesome';
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
		}
	}
}
.holder-select {
	float: right;
	position: relative;
	select {
		font-size: 	14px;
		display: inline-block;
		vertical-align: middle;
		padding: 5px 5px 5px 25px;
		margin: 5px 10px 0 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 55%;
		left: 5px;
		transform: translateY(-50%);
		background: url('../img/sprite.png') no-repeat -109px -59px;
		width: 17px;
		height: 17px;
	}
}
