.slider-img {
	position: relative;
	.v-slider-block {
		position: absolute;
		top: 0;
		left: 0;
		ul {
			width: 66px;
			text-align: center;
		}
		li {
			padding: 14px;
			margin: 0 0 4px;
			outline: 0;
			a {
				display: block;
				height: 100%;
				outline: 0;
			}
			&:hover {
				border: 1px solid #ffcb05;
				border-radius: 5px;
			}
		}
		.slick-arrow {
			background: #eee;
			border: 0;
			font-size: 0;
			line-height: 0;
			position: absolute;
			left: 0;
			width: 64px;
			height: 20px;
			z-index: 2;
			opacity: .8;
			outline: 0;
			&:before {
				content: '\f106';
				font: 18px/20px 'FontAwesome';
				position: absolute;
				left: 27px;
				top: 50%;
				transform: translateY(-50%);
				color: #333;
			}
			&:hover {
				opacity: .4;
			}
		}
		.slick-prev {
			border-radius: 5px 5px 0 0;
		}
		.slick-next {
			border-radius: 0 0 5px 5px;
			bottom: 0;
			&:before {
				content: '\f107';
			}
		}
	}
	.container-img {
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 70px;
	}
	.image-review {
		display: inline-block;
		height: 100%;
		&:hover {
			opacity: .8;
		}
	}
	.holder-img-bl {
		padding: 22px;
		width: 314px;
		height: 310px;
		text-align: center;
	}
	.reviews-block {
		text-align: center;
		border-top: 1px solid #e8e8e8;
		background: #fff;
	}
	.video-review, .d-review {
		display: inline-block;
		vertical-align: top;
		padding: 12px 0;
		width: 49%;
		color: #5e5e5e;
		position: relative;
		font-size: 12px;
		&:before {
			content: '\f16a';
			font: 15px/18px 'FontAwesome';
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translateY(-50%);
			color: #da2122;
		}
		&:hover {
			opacity: .8;
		}
	}
	.video-review {
		border-right: 1px solid #e8e8e8;
	}
	.d-review {
		&:before {
			content: '\f1b2';
			color: #e88800;
		}
	}
	.keks {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@include media (desktop-large) {
	.slider-img {
		.holder-img-bl {
			width: 200px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.video-review, .d-review  {
			display: block;
			width: 100%;
			&:before {
				left: 5%;
			}
		}
		.video-review  {
			border-right: 0;
			border-bottom: 1px solid #e8e8e8;
		}
	}
}
@include media (mobile)  {
	.slider-img {
		margin-bottom: 15px;
		.holder-img-bl {
			width: 100%;
		}
	}
}