<div class="about-product">
	<div class="holder-availability">
		<div class="title-availability">Наличие:</div>
		<span class="availability">Есть в наличии</span>
	</div>
	<div class="holder-color">
		<div class="color-model">Цвет:<span class="color"> Black</span></div>
		<ul>
			<li class="default">
				<span class="holder-choice color-choice-active">
					<span class="color-circle color-circle-active"></span>
					<span class="color-choice">Black</span>
				</span>
			</li>
			<li>
				<a href="#">
					<span class="holder-choice">
						<span class="color-circle color-silver"></span>
						<span class="color-choice"></span>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="holder-choice">
						<span class="color-circle color-gold"></span>
						<span class="color-choice"></span>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="holder-memory">
		<div class="memory-model">
			Объем памяти:<span class="memory"> 16 Gb</span>
		</div>
		<ul>
			<li>
				<a href="#" class="memory-choice memory-choice-active">16 Gb</a>
			</li>
			<li>
				<a href="#" class="memory-choice">32 Gb</a>
			</li>
			<li>
				<a href="#" class="memory-choice">128 Gb</a>
			</li>
		</ul>
	</div>
	<div class="holder-guarantee">
		<div class="guarantee">Гарантия:<span class="guarantee-time"> 2 года</span></div>
		<form action="#" class="guarantee-form">
			<div class="row">
				<input type="radio" name="guarantee" id="radio-1" checked name="guarantee-2">
				<label for="radio-1"><span></span>2 года гаратии</label>
			</div>
			<div class="row">
				<input type="radio" name="guarantee" id="radio-2" name="guarantee-3">
				<label for="radio-2"><span></span>3 года гаратии</label>
			</div>
		</form>
	</div>
	<div class="holder-same">
		<div class="same-product">Такой же товар:</div>
		<ul>
			<li>
				<a href="#">Уценный</a>
			</li>
			<li>
				<a href="#">Восстановленный</a>
			</li>
		</ul>
	</div>
</div>