<div class="buy-container">
	<div class="holder-buy-block">
		<div class="buy">
			<div class="holder-title">
				<div class="title">
					Акция! Бесплатная доставка смартфонов<br> Samsung по всей Украине!
				</div>
				<a href="#">Подробнее об акции</a>
			</div>
			<div class="holder-counter">
				<div class="counter">До конца акции осталось<span class="count">2</span class="count"><span class="count count-2">5</span>дней! Поспешите</div>
			</div>
			<div class="container-tools">
				<div class="holder-tools">
					<div class="holder-price">
						<div class="price">11 999<span class="cy"> грн</span></div>
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star-half-o"></span>
							<span class="fa fa-star-o"></span>
						</div>
						<div class="reviews">Отзывов: <a class="count-reviews">14</a></div>
					</div>
					<div class="holder-buy">
						<div class="holder-credit">
							<a href="#" class="btn btn-buy">В корзину</a><br>
							<a href="#" class="btn btn-credit">Купить в кредит</a>
						</div>
					</div>
				</div>
				<div class="holder-number">
					<a href="#" class="number">Ваш номер телефона</a>
					<a href="#" class="one-click">Купить в 1 клик</a>
				</div>
			</div>
		</div>
		<div class="holder-desire">
			<a href="#" class="compare">Сравнить товар</a>
			<a href="#" class="desire">Добавить в Желания</a>
		</div>
	</div>
	<div class="links-buy">
		<span>Поделиться:</span>
		<a href="#" class="vk">|</a>
		<a href="#" class="count-vk">+1</a>
		<a href="#" class="fb">Like</a>
		<a href="#" class="count-fb">15</a>
		<a href="#" class="tweet">Tweet</a>
	</div>
</div>