<div class="contact-holder">
	<div class="title">
		Контакты
	</div>
	<div class="contact-section shop-holder">
		<div class="shop-name">Магазин "СВЕТОВИД"</div>
		<span class="actual"></span>
		<a href="#" class="btn-vip">VIP</a>
		<span class="rating">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-half-o"></i>
			<i class="fa fa-star-o"></i>
		</span>
	</div>
	<div class="contact-section">
		<h2 class="title-contact">Контактное лицо:</h2>
		<div class="contact-person">
			Валентин Гриценко
		</div>
	</div>
	<div class="contact-section">
		<h2 class="title-contact">Контакты:</h2>
		<div class="holder-row clearfix">
			<i class="tel-icon"></i>
			<div class="holder-text">
				<span class="tel-number tel-number-1">+380 (93) 730-72-47</span>
				<span class="tel-number tel-number-2">+380 (67) 167-56-08</span>
				<span class="tel-number tel-number-3">+380 (50) 969-42-58</span>
			</div>
		</div>
		<div class="holder-row holder-mail clearfix">
			<i class="fa fa-envelope-o"></i>
			<div class="holder-text">
				<span class="mail">oleg-galina@ukr.net</span>
			</div>
		</div>
		<div class="holder-row holder-skype clearfix">
			<i class="fa fa-skype"></i>
			<div class="holder-text">
				<span class="skype">galina_goncharenko777</span>
			</div>
		</div>
	</div>
	<div class="contact-section">
		<h2 class="title-contact">Адрес:</h2>
		<span class="adress">5500, Украина, Херсонская обл., Геническ, 40 лет Победы 8а/3 <a href="#">на карте</a></span>
	</div>
	<div class="contact-section">
		<h2 class="title-contact">График работы:</h2>
		<dl class="work-time">
			<dt>Понедельник-Пятница - </dt>
			<dd>9.00 - 16.00;</dd>
		</dl>
		<dl class="saturday">
			<dt>Суббота - </dt>
			<dd>9.00 - 12.00;</dd>
		</dl>
		<dl class="dinner">
			<dt>Обед - </dt>
			<dd>12.00 - 13.00;</dd>
		</dl>
		<dl class="sunday">
			<dt>Воскресенье - </dt>
			<dd>выходной</dd>
		</dl>
	</div>
	<div class="contact-section btn-mail-holder">
		<a href="#" class="btn-mail"><span></span>Написать нам</a>
	</div>
</div>
