<div class="delivery">
	<ul class="bonus">
		<li>
			<span class="icon icon-heart"></span>
			<span class="title">Гарантированные бонусы</span>
		</li>
		<li>
			<span class="icon icon-bar-graph-2"></span>
			<span class="title">Лучшие ценовые предложения</span>
		</li>
		<li>
			<span class="icon icon-help"></span>
			<span class="title">Быстрая техническая поддержка</span>
		</li>
	</ul>
	<div class="holder-form">
		<div class="title-delivery">Доставка</div>
		<form action="#" class="city-form">
			<fieldset>
				<div class="holder-select">
					<select name="city-select">
						<option value="city-1">Харьков</option>
						<option value="city-2">Киев</option>
						<option value="city-3">Львов</option>
					</select>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="holder">
		<div class="holder-carrier">
			<h4 class="title-carrier">Самовывоз</h4>
			<ul>
				<li>
					<a href="#">из Новой почты</a>
					<span class="price">35<span class="cy"> грн</span> </span>
				</li>
				<li>
					<a href="#">из точки выдачи</a>
					<span class="price">35<span class="cy"> грн</span> </span>
				</li>
			</ul>
		</div>
		<div class="holder-carrier">
			<h4 class="title-carrier">Курьер</h4>
			<ul>
				<li>
					<div>
						<span>Мы доставим этот товар<br>курьером службы доставки</span><br>
						<a href="#">Мист Экспресс</a>
					</div>
					<span class="price">35<span class="cy"> грн</span></span>
				</li>
			</ul>
		</div>
		<div class="holder-carrier">
			<h4 class="title-carrier">Доставка по Украине</h4>
			<ul>
				<li>
					<a href="#">Новая почта</a>
				</li>
				<li>
					<a href="#">Мист Экспресс</a>
				</li>
				<li>
					<a href="#">Укрпочта</a>
				</li>
			</ul>
		</div>
	</div>
</div>