<div class="keks-complect">
	<div class="holder-img">
		<a href="#" class="image-block compl-1">
			<img src="img/keks-compl-1.png" width="195" height="329" alt="Image description">
		</a>
		<a href="#" class="image-block compl-2">
			<img src="img/keks-compl-2.png" width="250" height="250" alt="Image description">
		</a>
		<span class="plus-keks"></span>
	</div>
	<div class="holder-product">
		<a class="title">Apple Ipad Pro +<br>Apple Watch Premium Black<br>3d line</a>
	</div>
	<a href="#" class="keks"></a>
</div>