<nav class="nav-menu">
	<ul class="menu">
		<li>
			<a href="#">Главная</a>
		</li>
		<li>
			<a href="#">Акции</a>
		</li>
		<li>
			<a href="#">Товары <span class="count count-product">(831)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#">Продукция PHILIPS <span class="count count-prod-philips">(38)</span></a>
				</li>
				<li>
					<a href="#">Продукция HOROZ <span class="count count-prod-horoz">(158)</span></a>
				</li>
				<li>
					<a href="#">Продукция HOROZ <span class="count count-prod-hor">(158)</span></a>
				</li>
				<li>
					<a href="#">Продукция Delux <span class="count count-prod-delux">(202)</span></a>
				</li>
				<li>
					<a href="#">Продукция Feron <span class="count count-prod-feron">(207)</span></a>
				</li>
				<li>
					<a href="#">Автоматика EATON <span class="count count-prod-eaton">(197)</span></a>
				</li>
				<li>
					<a href="#">Экономный обогрев <span class="count count-prod-heating">(24)</span></a>
				</li>
				<li>
					<a href="#">Разпродажа <span class="count count-prod-sale">(5)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Оплата и доставка</a>
		</li>
		<li>
			<a href="#">Контакты</a>
		</li>
		<li>
			<a href="#">Новости <span class="count count-news">(8)</span></a>
		</li>
		<li>
			<a href="#">Статьи <span class="count count-articles">(32)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#">Технологии «альтернативных» источников электроэнергии <span class="count count-tech">(4)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Фотогалерея <span class="count count-foto">(32)</span></a>
		</li>
		<li>
			<a href="#">Документы <span class="count count-doc">(25)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#">Каталоги TM EATON (MOELLER) <span class="count count-kat-eaton">(6)</span></a>
				</li>
				<li>
					<a href="#">Каталоги TM FERON <span class="count count-kat-feron">(5)</span></a>
				</li>
				<li>
					<a href="#">Каталоги TM DeLux <span class="count count-kat-delux">(2)</span></a>
				</li>
				<li>
					<a href="#">Каталоги ТМ PHILIPS <span class="count count-kat-philips">(4)</span></a>
				</li>
				<li>
					<a href="#">Каталоги ТМ Horoz Electric <span class="count count-kat-electric">(6)</span></a>
				</li>
				<li>
					<a href="#">Инструкции по установке и эксплуатации <span class="count count-kat-instr">(2)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Наши партнеры <span class="count count-partners">(5)</span></a>
		</li>
		<li>
			<a href="#">Отзывы <span class="count count-reviews">(1)</span></a>
		</li>
		<li>
			<a href="#">Вопросы и Ответы <span class="count count-answer">(1)</span></a>
		</li>
		<li>
			<a href="#">О нас</a>
		</li>
	</ul>
</nav>