<nav class="nav-menu">
	<ul class="menu">
		<li>
			<a href="#">Главная</a>
		</li>
		<li>
			<a href="#">Акции</a>
		</li>
		<li>
			<a href="#" class="chek">Товары <span class="count count-product">(831)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#" class="sub-chek">Продукция PHILIPS <span class="count count-prod-philips">(38)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Продукция HOROZ <span class="count count-prod-horoz">(158)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Продукция HOROZ <span class="count count-prod-hor">(158)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Продукция Delux <span class="count count-prod-delux">(202)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Продукция Feron <span class="count count-prod-feron">(207)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Автоматика EATON <span class="count count-prod-eaton">(197)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Экономный обогрев <span class="count count-prod-heating">(24)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Разпродажа <span class="count count-prod-sale">(5)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Оплата и доставка</a>
		</li>
		<li>
			<a href="#">Контакты</a>
		</li>
		<li>
			<a href="#" class="chek">Новости <span class="count count-news">(8)</span></a>
		</li>
		<li>
			<a href="#" class="chek">Статьи <span class="count count-articles">(32)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#" class="sub-chek">Технологии «альтернативных» источников электроэнергии <span class="count count-tech">(4)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Фотогалерея <span class="count count-foto">(32)</span></a>
		</li>
		<li>
			<a href="#" class="chek">Документы <span class="count count-doc">(25)</span></a>
			<ul class="sub-menu">
				<li>
					<a href="#" class="sub-chek">Каталоги TM EATON (MOELLER) <span class="count count-kat-eaton">(6)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Каталоги TM FERON <span class="count count-kat-feron">(5)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Каталоги TM DeLux <span class="count count-kat-delux">(2)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Каталоги ТМ PHILIPS <span class="count count-kat-philips">(4)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Каталоги ТМ Horoz Electric <span class="count count-kat-electric">(6)</span></a>
				</li>
				<li>
					<a href="#" class="sub-chek">Инструкции по установке и эксплуатации <span class="count count-kat-instr">(2)</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Наши партнеры <span class="count count-partners">(5)</span></a>
		</li>
		<li>
			<a href="#">Отзывы <span class="count count-reviews">(1)</span></a>
		</li>
		<li>
			<a href="#">Вопросы и Ответы <span class="count count-answer">(1)</span></a>
		</li>
		<li>
			<a href="#">О нас</a>
		</li>
	</ul>
</nav>