<div class="product sale-product product-last">
	<div class="holder-img">
		<a href="#" class="image-block">
			<img src="img/set-img-4.png" width="171" height="328" alt="Image description">
		</a>
		<a href="#" class="btn btn-action">Акция!</a>
		<a href="#" class="btn btn-sale">Уценка %</a>
	</div>
	<div class="holder-product">
		<a class="title">Моноколесо InMotion SCV V5<br>(White)<br>3ая строчка</a>
	</div>
	<div class="holder-tools">
		<div class="holder-price">
			<div class="rating">
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star-half-o"></span>
				<span class="fa fa-star-o"></span>
			</div>
			<div class="reviews">Отзывов: <a class="count-reviews">0</a></div>
			<div class="price">11 999<span class="cy"> грн</span></div>
		</div>
		<div class="holder-buy">
			<div class="holder-compare">
				<a href="#" class="btn btn-compare">Сравнить</a>
				<a href="#" class="fa fa-heart btn-like"></a>
			</div>
			<a href="#" class="btn btn-buy">Купить</a>
		</div>
	</div>
	<span class="plus"></span>
</div>