<div class="slider-img">
	<div class="v-slider-block">
		<ul class="vertical-slider">
			<li>
				<a href="#">
					<img src="img/v-slide-1.jpg"  alt="Image description">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/v-slide-2.jpg" alt="Image description">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/v-slide-3.jpg" alt="Image description">
				</a>
			</li>
			<li class="format-d">
				<a href="#">
					<img src="img/v-slide-4.jpg" alt="Image description">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/v-slide-5.jpg" alt="Image description">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/v-slide-2.jpg" alt="Image description">
				</a>
			</li>
			<li class="video-slider">
				<a href="#">
					<img  src="img/v-slide-3.jpg" alt="Image description">
				</a>
			</li>
		</ul>
	</div>
	<div class="container-img">
		<div class="holder-img-bl">
			<a href="#" class="image-review">
				<img src="img/about-img-1.png" width="170" height="314" alt="Image description">
			</a>
		</div>
		<div class="reviews-block">
			<a href="#" class="video-review">Смотреть видеообзор</a>
			<a href="#" class="d-review">Смотреть 3D обзор</a>
		</div>
		<a href="#" class="keks"></a>
	</div>
</div>