<div class="total">
	<div class="total-nosale">
		Сумма без скидки <br>
		<span class="count-total">11 999</span>
		<span class="cy"> грн</span>
	</div>
	<div class="all-pay">
		<span>Итого:</span><br>
		<span class="count-all">7 399</span><br>
		<span class="cy"> грн</span>
	</div>
	<div class="sale">
		<span>Скидка:</span><br>
		<span class="count-sale">4 600</span>
		<span class="cy"> грн</span>
	</div>
	<p>Описание комплекта</p>
	<a href="#" class="btn btn-buy">Купить</a>
</div>