{% extends '../layout/_layout.twig' %}


{% block title %}
	Zakupka.com
{% endblock %}

{% block content %}
	<section class="content">
	</section>
	<aside class="sidebar">
	</aside>
{% endblock %}




