{% extends '../layout/_layout.twig' %}


{% block title %}
	Zakupka.com
{% endblock %}

{% block content %}
	<aside class="sidebar">
		{% include '../layout/utilities/_form-search.twig' %}
		{% include '../layout/utilities/_nav.twig' %}
		{% include '../layout/utilities/_contact.twig' %}
	</aside>
	<section class="content">
		{% include '../layout/modules/_breadcrumbs.twig' %}
		{% include '../layout/modules/_card-product.twig' %}
		{% include '../layout/utilities/_contact.twig' %}
	</section>
{% endblock %}




