.main-holder {
	margin: 0 0 20px;
}
.main {
	.content {
		float: right;
		width: 72%;
	}
	.sidebar {
		padding: 20px;
		width: 24%;
		background: #fff;
		border-radius: 10px;
		float: left;
		box-shadow: 1px 1px 7px 0 #eee;
	}
}

@include media (desktop-middle) {
	.main {
		.content{
			width: 70%;
		}	
	}
}

