$font-sans: 'PT Sans', Helvetica, sans-serif;
$font-color: #000;
$color-str: #e2001a;
$line-height: 1.2;
$font-size: 14px;

$desktop-large: 1919px;
$desktop-middle: 1365px;
$desktop: 1023px;
$mobile: 767px;
